In [3]:
print("hello \nvamsi")

hello
vamsi

In [6]:
add = 10 + 5 \
+10 + 20

print(add)

45

In [9]:
l=2;b=3
print('area',l*b)

area  6

In [10]:
a=5
b=10

if a>b:
    print(a,'is greater than',b)
elif b>a:
    print(b,'is greater than',a)
else:
    print('both are equal')

10 is greater than 5

In [17]:
num1 = 5950
if num1>500:
    if num1%100 ==0:
        print('good number')
    else:
        print('bad number')
else:
    print('failures')

bad number

In [18]:
names = ['Emma',
         'Kelly',
         'Jessa']
print(names)

# dictionary name as a key and mark as a value
# string:int
students = {'Emma': 70,
            'Kelly': 65,
            'Jessa': 75}
print(students)

['Emma', 'Kelly', 'Jessa']
{'Emma': 70, 'Kelly': 65, 'Jessa': 75}

In [21]:
x = 10
y = 30
print(x, y)

# delete x and y
del  y

# try to access it
print(x)
print(y)

10 30
10

NameError: name 'y' is not defined

In [22]:
def add(x,y):
    return x+y
print(add(2,3))

5

In [23]:
import datetime
now=datetime.datetime.now()
print(now)

2023-04-15 08:19:02.587472

In [24]:
#break for
numbers=[5,10,15,20]
for i in numbers:
    if i > 10:
        break
    print('current number',i)

current number 5
current number 10

In [2]:
 #break while

count=1
while count < 10:
    if count == 5:       
        break
    print('numbers', count)
    count+=1

numbers 1
numbers 2
numbers 3
numbers 4

In [10]:
## while loop

count =1
while count < 3:
    print(count)
    count+=1
print(type(count))
print(type(count < 3))

1
2
<class 'int'>
<class 'bool'>

In [8]:
count =0
number =180
while not number <= 10:
    number = number/3
    count+=1
print('total iter', count)

total iter 3

In [11]:
number = int(input('Enter any number between 100 and 500 '))
# number greater than 100 and less than 500
while not number > 100 or not number < 500:
    print('Incorrect number, Please enter correct number:')
    number = int(input('Enter a Number between 100 and 500 '))
else:
    print("Given Number is correct", number)

Enter any number between 100 and 500 600
Incorrect number, Please enter correct number:
Enter a Number between 100 and 500 99
Incorrect number, Please enter correct number:
Enter a Number between 100 and 500 400
Given Number is correct 400

In [13]:
n = int(input('enter a number'))
while n>=0:
    if n%2 == 0:
        print(n, 'is a even number bro')
    else:
        print(n, 'is a odd number babe')
    n=n-1

enter a number10
10 is a even number bro
9 is a odd number babe
8 is a even number bro
7 is a odd number babe
6 is a even number bro
5 is a odd number babe
4 is a even number bro
3 is a odd number babe
2 is a even number bro
1 is a odd number babe
0 is a even number bro

In [16]:
name = '1Je2saa29Roy'
size = len(name)
i = 0
# iterate loop till the last character
while i < size:
    # break loop if current character is number
    if name[i].isdecimal():
        break;
    # print current character
    print(name[i], end=' ')
    i = i + 1

In [23]:
name = 'Jesaa29Roy'

size = len(name)
for i in range(0,size)
print(i)
print(size)
i = -1
# iterate loop till the last character
while i < size-1:
    i = i + 1
    # skip while loop body if current character is not alphabet
    if  name[i].isdecimal():
        continue
    # print current character
    print(name[i], end=' ')

SyntaxError: invalid syntax (<ipython-input-23-f56663603e6e>, line 4)

# comments

In [25]:
# this is
# a comment
# to read
print('welcome bro')

welcome bro

In [26]:
# Returns welcome message for a customer by customer name and location
# param name - Name of the customer
# param region - location
# return - Welcome message

def greet(name, region):
    message = get_message(region)
    return message + " " + name


# Returns welcome message by location
# param region - location
def get_message(region):
    if (region == 'USA'):
        return 'Hello'
    elif (region == 'India'):
        return 'Namaste'

print(greet('Jessa', 'USA'))

Hello Jessa

In [27]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [28]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [29]:
print(help("for"))

The "for" statement
*******************

The "for" statement is used to iterate over the elements of a sequence
(such as a string, tuple or list) or other iterable object:

   for_stmt ::= "for" target_list "in" expression_list ":" suite
                ["else" ":" suite]

The expression list is evaluated once; it should yield an iterable
object.  An iterator is created for the result of the
"expression_list".  The suite is then executed once for each item
provided by the iterator, in the order returned by the iterator.  Each
item in turn is assigned to the target list using the standard rules
for assignments (see Assignment statements), and then the suite is
executed.  When the items are exhausted (which is immediately when the
sequence is empty or an iterator raises a "StopIteration" exception),
the suite in the "else" clause, if present, is executed, and the loop
terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clause’s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and continues
with the next item, or with the "else" clause if there is no next
item.

The for-loop makes assignments to the variables in the target list.
This overwrites all previous assignments to those variables including
those made in the suite of the for-loop:

   for i in range(10):
       print(i)
       i = 5             # this will not affect the for-loop
                         # because i will be overwritten with the next
                         # index in the range

Names in the target list are not deleted when the loop is finished,
but if the sequence is empty, they will not have been assigned to at
all by the loop.  Hint: the built-in function "range()" returns an
iterator of integers suitable to emulate the effect of Pascal’s "for i
:= a to b do"; e.g., "list(range(3))" returns the list "[0, 1, 2]".

Note: There is a subtlety when the sequence is being modified by the
  loop (this can only occur for mutable sequences, e.g. lists).  An
  internal counter is used to keep track of which item is used next,
  and this is incremented on each iteration.  When this counter has
  reached the length of the sequence the loop terminates.  This means
  that if the suite deletes the current (or a previous) item from the
  sequence, the next item will be skipped (since it gets the index of
  the current item which has already been treated).  Likewise, if the
  suite inserts an item in the sequence before the current item, the
  current item will be treated again the next time through the loop.
  This can lead to nasty bugs that can be avoided by making a
  temporary copy using a slice of the whole sequence, e.g.,

     for x in a[:]:
         if x < 0: a.remove(x)

Related help topics: break, continue, while

None

In [30]:
import keyword

print(keyword.iskeyword('if'))
print(keyword.iskeyword('range'))

True
False

In [33]:
# create class
class Student:
    sex = 'not known'
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show(self):
        print(self.name, self.age,self.sex)


# create object
s = Student('Jessa', 19)
# call method
s.show()

Jessa 19 not known

In [34]:
print(bool(0))

False

In [37]:
print(type(range(5)))

<class 'range'>

In [38]:
var = 10
print(var)  # 10
# print its type
print(type(var))  # <class 'int'>

# assign different integer value to var
var = 55
print(var)  # 55

# change var to string
var = "Now I'm a string"
print(var)  # Now I'm a string
# print its type
print(type(var))  # <class 'str'>

# change var to float
var = 35.69
print(var)  # 35.69
# print its type
print(type(var))  # <class 'float'>

10
<class 'int'>
55
Now I'm a string
<class 'str'>
35.69
<class 'float'>

In [39]:
# create a variable of type string
str = 'PYnative'
# prints complete string
print(str)  # PYnative

# prints first character of the string
print(str[0])  # P

# prints characters starting from 2nd to 5th range 0 to n-1 so n to t
print(str[2:5])  # nat

# length of string
print(len(str))  # 8

# concatenate string
print(str + "TEST")  # PYnativeTEST

PYnative
P
nat
8
PYnativeTEST

In [40]:
# create list
my_list = ['Jessa', 10, 20, 'Kelly', 50, 10.5]
# print entire list
print(my_list)  # ['Jessa', 10, 20, 'Kelly', 50, 10.5]

# Accessing 1st element of a list
print(my_list[0])  # 'Jessa'

# Accessing  last element of a
print(my_list[-1])  # 10.5

# access chunks of list data
print(my_list[1:3])  # [10, 20]

# Modifying first element of a list
my_list[0] = 'Emma'
print(my_list[0])  # 'Emma'
print(my_list)

# add one more elements to list
my_list.append(100)
print(my_list)  # ['Emma', 10, 20, 'Kelly', 50, 10.5, 100]

['Jessa', 10, 20, 'Kelly', 50, 10.5]
Jessa
10.5
[10, 20]
Emma
['Emma', 10, 20, 'Kelly', 50, 10.5]
['Emma', 10, 20, 'Kelly', 50, 10.5, 100]

In [41]:
a = 100
print(type(a))  # class 'int'

b = 100.568
print(type(b))  # class 'float'

str1 = "PYnative"
print(type(str1))  # class 'str'

my_list = [10, 20, 20.5, 100]
print(type(my_list))  # class 'list'

my_set = {'Emma', 'Jessa', 'Kelly'}
print(type(my_set))  # class 'set'

my_tuple = (5, 10, 15, 20, 25)
print(type(my_tuple))  # class 'tuple'

my_dict = {1: 'William', 2: 'John'}
print(type(my_dict))  # class 'dict'

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>

In [42]:
my_list =[10,20,20.5,'Python',100]
# It will print only datatype of variable
print(type(my_list).__name__) # list

list

In [44]:
n = 300
m = n
n+=1
print(id(n)) # same memory address
print(id(m)) # same memory address

2902041487856
2902041487472

In [64]:
import sys
a2 = 100
b1 = 10
print(id(a2))
print(id(b1))
print(sys.getrefcount(a2))
print(sys.getrefcount(b1))
c1 = 20
d1 = 20
e1 = 20
print(id(c1))
print(id(d1))
print(id(e1))
print(sys.getrefcount(c1),sys.getrefcount(d1),sys.getrefcount(e1))

a1 =100
print(id(a1))

140721007571840
140721007568960
113
179
140721007569280
140721007569280
140721007569280
423 423 423
140721007571840

In [69]:
d = {1:'J', 2:'E'}
result = isinstance(d, dict)
print (result)

True

In [72]:
my_list = ["Jessa", "Kelly", 20, 35.75]
# display list
print(my_list)  # ['Jessa', 'Kelly', 20, 35.75]
print(type(my_list))  # class 'list'

# Accessing first element of list
print(my_list[0])  # 'Jessa'

# slicing list elements
print(my_list[1:5])  # ['Kelly', 20, 35.75]

# modify 2nd element of a list
my_list[1] = "Emma"
print(my_list[1])  # 'Emma'

# create list using a list class
my_list2 = list(["Jessa", "Kelly", 20, 35.75])
print(my_list2)  # ['Jessa', 'Kelly', 20, 35.75]
print(type(my_list2).__name__)

['Jessa', 'Kelly', 20, 35.75]
<class 'list'>
Jessa
['Kelly', 20, 35.75]
Emma
['Jessa', 'Kelly', 20, 35.75]
list

In [75]:
my_set = {11, 44, 75, 89, 56}
print(type(my_set).__name__)  # class 'set'

# creating frozenset
f_set = frozenset(my_set)
print(type(f_set).__name__)  # class 'frozenset'

set
frozenset

# byte and byte array support buffer protocol to access memory view
# set is mutable
#frozen set is immutable
# byte immutable
#byte array mutable

In [78]:
# create a bytearray
list1 = [9, 17, 11, 78]
b_array = bytearray(list1)
print(b_array)
print(type(b_array))  # class 'bytearray'

# modifying bytearray
b_array[1] = 99
print(b_array[1])  # 99

# iterate bytearray
for i in b_array:
    print(i, end="*")  # 9 99 11 78

bytearray(b'\t\x11\x0bN')
<class 'bytearray'>
99
9*99*11*78*

In [79]:
byte_array = b'PYnative'      # creating bytes array object
byte_array_view = memoryview(byte_array)  # creating memory view for bytes array objects
container = tuple(byte_array_view)   # Storing it in container of iterating
for char in container:
    print(char, end=" ")

80 89 110 97 116 105 118 101

flow control
Conditional - if, if-else, if-elif-else, nested if-else
iterative - for, while
Transfer - break, pass, continue

In [84]:
choice = int(input("enter your choice:"))
def user_check(choice):
    if choice == 1:
        print("Admin")
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")

user_check(choice)

enter your choice:5
Wrong entry

In [90]:
#sum of first n even number

n=int(input("enter number:"))
sum = 0
i=1
while i < n+1:
    sum += 2*i
    i+=1
print(sum)

enter number:6
42

In [6]:
# print half pyramid with *'s'
i = 0
while(i < 5):
    j=0
    while(j < i):
        print('*', end=" ")
        j=j+1
    print('')
    i=i+1

*
* *
* * *
* * * *

In [7]:
i=0
while(i<5):
    for j in range(0,i):
        print('*', end=" ")
    print('')
    i=i+1

*
* *
* * *
* * * *

In [29]:
for i in range(5):
    for j in range(i):
        print('*', end=" ")
    print('')

*
* *
* * *
* * * *

In [14]:
for i in range(0,5):
    j=0
    while(j<i):
        print('*', end=" ")
        j=j+1
    print('')

*
* *
* * *
* * * *

****
***
**
*

In [22]:
for i in range(0,5):
    j=2
    while(j>i):
        print('*', end=" ")
        j=j-1
    print('')

* *
*

In [45]:
#rows = 6
# if you want user to enter a number, uncomment the below line
rows = int(input('Enter the number of rows'))
# outer loop
for i in range(rows):
    # nested loop
    for j in range(0,i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')
    #print("\n")

Enter the number of rows5

1
2 2
3 3 3
4 4 4 4

In [50]:
rows = int(input("enter number of rows: "))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j, end=' ')
    print(' ')

enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
rows = int(input("enter number of rows: "))
i=1
while(i < rows+1):
    j=1
    while(j < i+1):
        print(j, end=' ')
        j=j+1
    i=i+1
    print('')

enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
#inverted pyramid pattern of numbers
rows = int(input("enter number of rows: "))
for i in range(1,rows+1):
    j=rows
    while(j+1 > i):
        print(i, end=' ')
        j=j-1
    print('')

enter number of rows: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [7]:
rows=5
b=0
#reverse for loop
for i in range(rows,0,-1):
    b=b+1
    for j in range(1, i+1):
        print(b, end=' ')
    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [14]:
#Inverted Pyramid pattern with the same digit
rows = int(input("enter number of rows: "))
num=rows
for i in range(rows,0,-1):
    j=0
    while(i>j):
        print(num, end=' ')
        j=j+1
    print('')

enter number of rows: 6
6 6 6 6 6 6
6 6 6 6 6
6 6 6 6
6 6 6
6 6
6

In [19]:
#Inverted Pyramid pattern with the same digit - other way
rows = int(input("enter number of rows: "))
num=rows
for i in range(1, rows+1):
    j=rows
    while(j+1>i):
        print(num, end=' ')
        j=j-1
    print('')

enter number of rows: 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [24]:
#Inverted Pyramid pattern with the same digit
rows = int(input("enter number of rows: "))
for i in range(rows+1,0,-1):
    j=0
    while(j<i):
        print(j, end=' ')
        j=j+1
    print('')

enter number of rows: 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [25]:
#Alternate numbers pattern using while loop
i=1
while(i <= 5):
    j=1
    while(j <= i):
        print((i*2-1),end=" ")
        j=j+1
    i=i+1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [32]:
#Reverse number pattern
rows = int(input("enter number of rows: "))
for i in range(rows,0,-1):
    j=0
    while(j<i):
        print(i, end=" ")
        j=j+1
    print('')

enter number of rows: 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [34]:
#Reverse Pyramid of Numbers
rows = int(input("enter number of rows: "))
for i in range(1,rows+1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print(" ")

enter number of rows: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

Another reverse number pattern
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [35]:
#Reverse Pyramid of Numbers
rows = int(input("enter number of rows: "))
for i in range(rows,0,-1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print(" ")

enter number of rows: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Print reverse number from 10 to 1
1
3 2
6 5 4
10 9 8 7

In [54]:
start = 1
stop = 2
current_num = stop
for row in range(2,6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop
    #print('start ' + str(start) + ' stop ' + str(stop) + ' current_num ' + str(current_num))

1
3 2
6 5 4
10 9 8 7

Number triangle pattern
          1 
        1 2 
      1 2 3 
    1 2 3 4 
  1 2 3 4 5

In [58]:
rows = int(input("enter number of rows: "))
for i in range(rows+1):
    num=1
    for j in range(rows,0,-1):
        if j > i:
            print(' ', end=' ')
        else:
            print(num, end=' ')
            num=num+1
    print(' ')

enter number of rows: 5

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

Multiplication table pattern
Pattern: –
1  
2  4  
3  6  9  
4  8  12  16  
5  10  15  20  25  
6  12  18  24  30  36  
7  14  21  28  35  42  49  
8  16  24  32  40  48  56  64

In [61]:
rows = int(input("enter number of rows: "))
for i in range(rows+1):
    for j in range(1,i+1):
        print(i*j, end=' ')
    print(' ')

enter number of rows: 6

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36

Square pattern with numbers
1 2 3 4 5 
2 2 3 4 5 
3 3 3 4 5 
4 4 4 4 5 
5 5 5 5 5

In [67]:
rows = int(input("enter number of rows: "))
for i in range(1,rows+1):
    for j in range(1,rows+1):
        if i<=j:
            print(j, end=' ')
        else:
            print(i, end=' ')
    print(' ')

enter number of rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

Pattern: –
 
        * 
      * * 
    * * * 
  * * * * 
* * * * *

rows = int(input("enter number of rows: "))
for i in range(rows+1):
    for j in range(rows,0,-1):
        if(j>i):
            print(" ", end=' ')
        else:
            print('*', end=' ')
    print(' ')

In [ ]:
        * * * * * * 
         * * * * * 
          * * * * 
           * * * 
            * * 
             *

In [69]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [70]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

In [71]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

* * * * *
 * * * *
  * * *
   * *
    *

In [73]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [74]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [77]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: append() takes exactly one argument (2 given)

In [81]:
def calculate (num1=6, num2=4):
  res = num1 * num2
  print(res)

calculate()

24

In [82]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [86]:
var= "James Bond"
print(var[2:-1])

mes Bon

In [85]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [87]:
var1 = 5
def some_func():
 
    # var2 is in the local namespace
    var2 = 6
    def some_inner_func():
 
        # var3 is in the nested local
        # namespace
        var3 = 7